<?xml version="1.0"?>
<phpunit backupGlobals="false"
         backupStaticProperties="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd">
	<testsuite name="LongestCommonSubstring">
		<directory suffix="Test.php">tests</directory>
	</testsuite>
	<coverage/>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>
</phpunit>